body {
        background-color : blueviolet;
}

#heading-text {
        
        font-size: 6vw;
        font-family: monospace;
	text-shadow: 3px 3px red;
}

h1 {
	font-size: 6vw;
}


/*.btn.btn-primary {
	font-size: 20px;
	font-weight: bolder;
}
*/

#unit {
        
        margin-left: 5vw;
        display: none;
}

#searchBar {

        border-top: 0;
        border-right: 0;
        border-left: 0;
        background-color: blueviolet;
        border-bottom: 3px solid orangered;
        color: white;
        font-weight: bolder;
        width: 60%;
        margin-left: 2%;
        height: 40px;
        border-radius: 13px;
        box-shadow: 0 0 15px 1px purple ;
        padding-inline-start: 6px;
        font-size: 25px;
}

.btn.btn-danger {
  margin: 1vw;
	border-radius: 20px;
	border: 6px;
	font-weight: bolder;
	box-shadow: 0 0 2px 2px royalblue;
	text-decoration-color: white
}

.btn.btn-danger:hover {
	margin: 1vw;
	border-radius: 20px;
	border: 6px;
	font-weight: bolder;
	background-color: darkcyan;
	box-shadow: 0 0 2px 2px red;
	text-decoration-color: white
}

.toggle.btn.btn-success{
	margin-left: 14.5%
}

.toggle.btn.btn-warning{
	margin-left: 1%
}

.toggle.btn.btn-dark{
	margin-left: 1%;
}

.toggle-handle.btn.btn-light{
	
	width: 2.3vw;
	
}

.card {
	width: 90%; 
	height: 95%; 
	margin-top: 1.5%; 
	margin-left: 5%;
	font-size: x-large;
	border-radius: 30px;
	box-shadow: 0 0 15px 1px orangered ;
}

.card-img-top {
	width: 39% ;
	margin-left: 29%;
}
